@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Rubik', sans-serif;
    background: #000;
    color: #fff;
    line-height: 1.7;
    overflow-x: hidden;

}

a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #ccc;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

.header {
    height: 530px;
    background: url(../img/header.jpg);
    no-repeat center center / cover;
}

.header nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
}

.header nav .login-btn{
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header .logo {
    width: 270px;
    margin: 20px;
}



